* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    color: white;
  }
  
  .title {
    margin: 20px;
  }
  
  .subtext {
    color: #CCC;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .drawingTable {
    display: inline-grid;
    padding: 10px;
    grid-template-columns: repeat(var(--size), 60px);
    grid-template-rows: repeat(var(--size), 60px);
    gap: 4px;
    background-color: #777;
  }
  
  .drawingTable > * {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #BBB;
    user-select: none;
  }
  
  .drawingTable > [data-status="hidden"] {
    background-color: #BBB !important;
    cursor: pointer;
  }
  
  .drawingTable > [data-status="bomb"] {
    background-color: red !important;
  }
  
  .drawingTable > [data-status="number"] {
    background-color: none !important;
  }
  
  .drawingTable > [data-status="marked"] {
    background-color: yellow !important;
  }